@page "/route-parameter/{text?}"

<h1>Blazor Route Parameter is @Text!</h1>

@code {
    [Parameter]
    public string? Text { get; set; }

    protected override void OnInitialized()
    {
        Text = Text ?? "not working";
    }
}